/* if you are seeing this, I wrote it before I learned BEM/CUBE or started using tailwind. This needs a rewrite */

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    margin: 0;
    background-color: #f5f8fd;
}

.heading {
    background-color: #95acca;
    text-align: center;
    text-transform: uppercase;
    padding: 2em;
}

body {
    color: #2a3549;
    max-width: 1200px;
    margin: 0 auto;
}

.content p {
    margin: 0;
}
.content-block {
    margin-bottom: 2em;
}

.content .content-left, .content-right {
    box-sizing: border-box;
    padding: 1em 1em;
}

.content .experience {
    margin: 1em;
}

.highlight {
    font-weight: bold;
    line-height: 1.5em;
}

.content {
    padding: 2em 1.5em;
}

.content-parent {
    margin-bottom: 1.75em;
    color: #3f5374;
}

.link {
    font-size: smaller;
}

h1 {
    letter-spacing: .75ex;
    font-size: 3em;
    margin: 0;
}

h2 {
    letter-spacing: .5ex;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.25em;
    margin: 0 0 1.12ex 0;
}

h3 {
    letter-spacing: .25ex;
    font-size: 1.6875em;
    margin: 0;
}

h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2656em;
    margin: 0 0 1.2656ex 0;
}

ul {
    margin: 0;
    padding: 0 1.2em;
}

@media print {
    .container-right { page-break-after: always;}

}
